*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@import "./partials/structure-tag-format";
@import "./partials/spacing";
@import "./partials/text-format";
@import "./partials/images-format";
@import "./partials/dynamic-divs";
@import "./partials/media-queries";


