.appear {
    animation-duration: 5s;
    animation-name: appear;
  }

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50;
    }
    100% {
        opacity: 100;
    }
}

.left-to-right {
    animation-duration: 2s;
    animation-name: left-to-right;
}

@keyframes left-to-right {
    0% {
        margin-right:  50vw;
        background-color: grey;
    }
    100% {
        margin-left:  0;
    }
}

.bottom-to-top {
    animation-duration: 2s;
    animation-name: bottom-to-top;
}

@keyframes bottom-to-top {
    0% {
        margin-top:  10vw;
        background-color: grey;
    }
    100% {
        margin-top:  0;
        margin-bottom: 2rem;
    }
}

.change-bg-color {
    animation-duration: 2s;
    animation-name: change-bg-color;
}

@keyframes change-bg-color {
    0% {
        background-color: grey;
    }
    100% {
    }
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(-1rem); }
  100% { transform: translateY(0rem); }
}


