.white {
    color: whitesmoke;
}

.black {
    color: black;
}

.bg-black {
    background-color: #231f20;
}

.bg-grey {
    background-color: grey;
}

.bg-light-green {
    background-color: rgb(96, 168, 91);
}

.bg-light-red {
    background-color: rgb(175, 101, 101);
}