.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.white {
    color: whitesmoke;
}

.top-bottom-border {
    border-top: 5px solid grey;;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid grey;
}

.bottom-border {
    border-top: none;;
    border-right: none;
    border-left: none;
    border-bottom: 5px dashed grey;
}

.bg-grey {
    background-color: grey;
}

.black {
    color: black;
}

.style-cleaner {
    list-style: none;
    margin: 0;
    padding: 0;
}

.line-height-1 {
    line-height: 1.5rem
}