.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.white {
    color: whitesmoke;
}

.black {
    color: black;
}

.style-cleaner {
    list-style: none;
    margin: 0;
    padding: 0;
}